#about{
	width:95vw;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
	#aboutMe{
		width:45vw;
		header.mainHeader{
			width:45vw;
			margin:0 auto;
			display:flex;
			justify-content:space-around;
			align-items:flex-start;
			img{
				width:15vw;
				border-radius:100%;
			}
			h1{
				line-height:5vh;
				height:5vh;
				width:25vw;
				text-align:center;
				border:solid 2px $black;
			}
		}
		article{
			margin-top:2vh;
			float:right;
			width:40vw;
			header{
				border-top-left-radius:1vw;
				display:flex;
				justify-content:space-between;
				width:40vw;
				margin:0 auto;
				height:5vh;
				border:2px solid white;
				border-bottom:none;
				section{
					color:white;
					cursor:pointer;
					display:flex;
					align-items:center;
					justify-content:space-around;
					border:solid white 2px;
					border-bottom:none;
					border-top:none;
					width:19.5vw;
					text-align:center;
					background:$highlight;
				}
				section.left{
					border-top-right-radius:1vw;
					border-left:none;
					border-top-left-radius:1vw;
				}
				section.right{
					border-top-left-radius:1vw;
					border-right:none;
				}
			}
			article{
				margin-top:-1px;
				p{
					width:40vw;
					margin:0 auto;
					padding:1vh 1vw;
					border:2px solid white;
					border-top:none;
					border-left:none;
					border-bottom-right-radius:1vw;
					line-height:1.4em;
					font-family: 'Titillium Web', sans-serif;
				}
				p.ls{

				}
				p.lss{

				}
				p.hidden{
					display:none;
				}
			}
		}
	}
	#skills{
		width:45vw;
		display:flex;
		flex-direction:column;
		header{
			width:45vw;
			margin:0 auto;
			text-align:center;
			height:5vh;
			display:flex;
			justify-content:space-around;
			align-items:center;
			border:2px black solid;
			margin-bottom:2vh;
		}
		h4.fEnd{
			width:40vw;
			margin:0 auto;
			font-size:1.3em;
			margin-bottom:1vw;
			font-family: 'Julius Sans One', sans-serif;
		}
		.frontEnd{
			border-top-right-radius:2vw;
			padding-top:2vh;
			border-top:1px solid $lowLight;
			border-right:1px solid $lowLight;
			margin: 0 auto;
			width:40vw;
			display:flex;
			height:30vh;
			justify-content:space-between;
			img{
				width:10vw;
				border-radius:1vw;
			}
			ul{
				width:25vw;
				li{
					margin-bottom:2vh;
				}
			}
		}
		h4.bEnd{
			width:40vw;
			margin:0 auto;
			font-size:1.8em;
			margin-bottom:1vw;
			margin-top:3vh;
			font-family: 'VT323', monospace;
		}
		.backEnd{
			border-top-right-radius:2vw;
			padding-top:2vh;
			border-top:1px solid $lowLight;
			border-right:1px solid $lowLight;
			margin: 0 auto;
			width:40vw;
			display:flex;
			height:30vh;
			justify-content:space-between;
			img{
				width:10vw;
				border-radius:1vw;
			}
			ul{
				width:25vw;
				li{
					margin-bottom:2vh;
				}
			}
		}
	}
}
