$white: rgb(223, 219, 219);
$highlight:#3B3A3A ;
$highlight-shadow: hsla(0, 0%, 10%, 0.47);
$lowLight: rgba(1, 1, 1, 0.28);
$brown: rgb(195, 186, 109);

$black: #3B3A3A;
$gray: #CDCDCD;
$darkGray: #999999;
$lightRed: #FF3947;
$red: #9A4645;




//new Color scheme blue and white and black
	$blue:#1EAAF1;
		$op-blue:rgba(#1eaaf1, 0.37);
	$white: rgb(246, 246, 246);
	$black: rgb(3, 17, 27);
		$op-black: rgba(3, 17, 27, 0.7);
		$sup-op-black: rgba(3, 17, 27, 0.4);
	$trout: #4B545B;
	$submitGreen: #39B54A;
