
#contactPage{
	display:flex;


	justify-content:space-around;
	#deets:hover{
		transform:scale(1.007);
		box-shadow:0.3vw 0.3vw 0.8vw $highlight-shadow;
	}
	#deets{

		transition:transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		position:relative;

		border-top-left-radius:0.3vw;
		border-top-right-radius:0.3vw;
		border-bottom-right-radius:0.2vw;
		background-color:white;
		box-shadow:0.1vw 0.1vw 0.5vw $highlight-shadow;

		header{
			display:flex;

			height:5vh;
			margin-bottom:3vh;
			text-align:center;

			color:white;

			border-top-left-radius:0.2vw;
			border-top-right-radius:0.2vw;
			background:$trout;
			font-family: 'Julius Sans One', sans-serif;
			align-items:center;
			justify-content:space-around;
		}
		section{

			ul{
				display:flex;
				flex-direction:column;

				margin:0 auto;

				justify-content:space-around;
				li{
					border-bottom:0.17em solid $blue;
					text-align:left;
					display:flex;
					margin:0 auto;
					margin-bottom:3vh;
					align-items:center;
					h1{
						padding:0.5em;
						background:$blue;
						font-family: 'Roboto Condensed', sans-serif;
						color:white;
						text-align:center;
					}

					h2{
					font-family: 'Roboto Condensed', sans-serif

					}
				}
			}
		}
	}
	#message:hover{
		transform:scale(1.007);
		box-shadow:0.3vw 0.3vw 0.8vw $highlight-shadow;
	}

	#message{
		transition:transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		position: relative;

		border-top-left-radius:0.3vw;
		border-top-right-radius:0.3vw;
		background-color:white;
		box-shadow:0.1vw 0.1vw 0.5vw $highlight-shadow;
		header{
			display:flex;

			height:5vh;
			margin-bottom:3vh;

			text-align:center;
			border-top-left-radius:0.2vw;
			border-top-right-radius:0.2vw;
			color:white;

			background:$trout ;

			font-family: 'Julius Sans One', sans-serif;
			align-items:center;
			justify-content:space-around;
		}
		section{
			form{
				section{
					display:flex;

					margin-bottom:3vh;

					text-ailgn:left;
					justify-content:space-around;
					h3{
						text-align:left;
						padding:0.5em;
						background:$blue;
						font-family: 'Roboto Condensed', sans-serif;
						color:white;
						text-align:center;

					}
					input{
						height:3vh;

						color:black;
						border:solid black 1px;
						border-top-left-radius:0.1em;
						border-top-right-radius:0.3em;
						border-bottom-right-radius:0.2em;
						background-color:white;

						line-height:1em;
					}
					#bigBox{
						border:solid black 1px;
						border-top-left-radius:0.1em;
						border-top-right-radius:0.3em;
						border-bottom-right-radius:0.2em;
					}
				}
				input{
					float: right;
					color:white;
					border:none;
					border-radius:0.1em;
					background-color: $submitGreen;
					padding:0.5em;
					display:flex;
					align-items:center;
					justify-content:space-around;
				}
			}
		}
	}
}
