#projPage {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    background: $white;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    .card {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        section.body {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            margin-top: 2vh;
            border-top: 1px solid $op-blue;
            border-bottom: 1px solid $op-blue;
            border-bottom-right-radius: 0.5vw;
            -ms-flex-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            img {
                transition: all 0.24s ease-in-out;
                border: 3px solid white;
                box-shadow: 0.1vw 0.1vw 0.3vw $op-black;
            }
            img:hover {
                cursor: pointer;
                -webkit-transform: scale(1.01);
                -ms-transform: scale(1.01);
                transform: scale(1.01);
                box-shadow: 0.3vw 0.3vw 0.5vw $sup-op-black;
            }
            article {
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -ms-flex-direction: column;
                -webkit-flex-direction: column;
                flex-direction: column;
                -ms-flex-pack: distribute;
                -webkit-justify-content: space-around;
                justify-content: space-around;
                -ms-flex-align: flex-left;
                -webkit-align-items: flex-left;
                align-items: flex-left;
                h4 {
                    padding-bottom: 1.4vh;
                    text-shadow: -1px 1px $op-black;
                    font-family: 'Julius Sans One', sans-serif;
                    font-size: 1.2em;
                }
                p {
                    padding-bottom: 1.2vh;
                    padding-left: 0.5vw;
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) and (min-width:0px) {
    #projPage {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 100vw;
        margin: 0 auto;
        -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        .card {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            width: 80vw;
            margin: 0 auto;
            margin-bottom: 8vh;
            -ms-flex-pack: distribute;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            section.body {
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -ms-flex-direction: column;
                -webkit-flex-direction: column;
                flex-direction: column;
                margin-top: 2vh;
                border-top: 1px solid $op-blue;
                border-bottom: 1px solid $op-blue;
                border-bottom-right-radius: 0.5vw;
                -ms-flex-pack: justify;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                img.vert2,
                img.hor1 {
                    display: none;
                }
                img {
                    width: 80vw;
                    margin: 0 auto;
                    transition: all 0.24s ease-in-out;
                    border: 3px solid white;
                    box-shadow: 0.1vw 0.1vw 0.3vw $op-black;
                }
                img:hover {
                    cursor: pointer;
                    -webkit-transform: scale(1.01);
                    -ms-transform: scale(1.01);
                    transform: scale(1.01);
                    box-shadow: 0.3vw 0.3vw 0.5vw $sup-op-black;
                }
                article {
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -ms-flex-direction: column;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    width: 70vw;
                    padding-top: 3vh;
                    padding-bottom: 2vh;
                    -ms-flex-pack: distribute;
                    -webkit-justify-content: space-around;
                    justify-content: space-around;
                    -ms-flex-align: flex-left;
                    -webkit-align-items: flex-left;
                    align-items: flex-left;
                    h4 {
                        padding-bottom: 1.4vh;
                        text-shadow: -1px 1px $op-black;
                        font-family: 'Julius Sans One', sans-serif;
                        font-size: 1.2em;
                    }
                    p {
                        padding-bottom: 1.2vh;
                        padding-left: 0.5vw;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
    #projPage {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 100vw;
        margin: 0 auto;
        -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -ms-flex-align: flex-left;
        -webkit-align-items: flex-left;
        align-items: flex-left;
        .card {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
            width: 90vw;
            margin: 0 auto;
            margin-bottom: 8vh;
            -ms-flex-pack: distribute;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            section.body {
                padding-top: 4vh;
                padding-bottom: 4vh;
                width: 90vw;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -ms-flex-direction: row;
                -webkit-flex-direction: row;
                flex-direction: row;
                margin-top: 2vh;
                border-top: 1px solid $op-blue;
                border-bottom: 1px solid $op-blue;
                border-bottom-right-radius: 0.5vw;
                -ms-flex-pack: justify;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                img.vert2,
                img.hor1 {
                    display: none;
                }
                img {
                    width: 40vw;
                    margin: 0 auto;
                    transition: all 0.24s ease-in-out;
                    border: 3px solid white;
                    box-shadow: 0.1vw 0.1vw 0.3vw $op-black;
                }
                img:hover {
                    cursor: pointer;
                    -webkit-transform: scale(1.01);
                    -ms-transform: scale(1.01);
                    transform: scale(1.01);
                    box-shadow: 0.3vw 0.3vw 0.5vw $sup-op-black;
                }
                article {
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -ms-flex-direction: column;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    width: 35vw;
                    padding-top: 3vh;
                    padding-bottom: 2vh;
                    -ms-flex-pack: distribute;
                    -webkit-justify-content: space-around;
                    justify-content: space-around;
                    -ms-flex-align: flex-left;
                    -webkit-align-items: flex-left;
                    align-items: flex-left;
                    h4 {
                        padding-bottom: 1.4vh;
                        text-shadow: -1px 1px $op-black;
                        font-family: 'Julius Sans One', sans-serif;
                        font-size: 1.2em;
                    }
                    p {
                        padding-bottom: 1.2vh;
                        padding-left: 0.5vw;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    #projPage {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 100vw;
        margin: 0 auto;
        -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        .card {
            width: 61.803vw;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            margin: 0 auto;
            margin-bottom: 10vh;
            section.body {
                height: 50vh;
                padding-top: 2.5vh;
                padding-bottom: 2.5vh;
                padding-left: 1em;
                padding-right: 1em;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                background: white;
                margin-top: 2vh;
                border-top: 0.4vh solid $blue;
                border-bottom: 0.4vh solid $blue;
                border-bottom-right-radius: 0.6em;
                border-top-right-radius: 0.6em;
                -ms-flex-pack: justify;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                img.hor {
                    width: 20vw;
                }
                img.vert {
                    transition: all 0.24s ease-in-out;
                    width: 10vw;
                    border: 3px solid white;
                    box-shadow: 0.1vw 0.1vw 0.3vw $op-black;
                }
                img:hover {
                    cursor: pointer;
                    -webkit-transform: scale(1.04);
                    -ms-transform: scale(1.04);
                    transform: scale(1.04);
                    box-shadow: 0.3vw 0.3vw 0.5vw $sup-op-black;
                }
                article {
                    padding: 3vh 0;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    width: 15vw;
                    -ms-flex-direction: column;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    -ms-flex-pack: distribute;
                    -webkit-justify-content: space-around;
                    justify-content: space-around;
                    -ms-flex-align: flex-left;
                    -webkit-align-items: flex-left;
                    align-items: flex-left;
                    h4 {
                        padding-bottom: 1.4vh;
                        text-shadow: -1px 1px $op-black;
                        font-family: 'Julius Sans One', sans-serif;
                        font-size: 1.2em;
                    }
                    p {
                        padding-bottom: 1.2vh;
                        padding-left: 0.5vw;
                    }
                }
            }
        }
    }
}
