@media only screen and (max-width: 425px) and (min-width:0px){
	//indexpage
	body{
		header#mainHeader{
			h1{
				font-size:1.4em;
			}
		}
	}
	ui-view{
		#home{
			width:100vw;
			display:flex;
			flex-direction: column-reverse;
			.post{
				display:flex;
				flex-direction:column;
				margin:0 auto;
				width:95vw;
				img{
					margin:0 auto;
					width:92vw;
				}
				article{
					p{
						font-size: .9em;
						line-height:1.5em;
					}
				}
			}
			#aboutMe{
				display:flex;
				flex-direction: column;
				width:100vw;
				align-items: center;
				header{
					width:80vw;
					text-align:center;
				}
				article{
					width:100vw;
					display:flex;
					flex-direction:column;
					img{
						width:80vw;
						margin:0 auto;
					}
					a, a:visited, a:hover{
						color:black;
						p{
							width:30vw;
						}
					}
					p{
						width:90vw;
						margin:0 auto;
						padding:2vh 0;
						font-size:1em;
						text-align:center;
						margin-bottom:1vh;
					}
				}
			}
		}
	}
	#contactPage{
		flex-direction:column;
		#deets{
			margin:0 auto;
			width:95vw;
			margin-bottom:3vh;
			header{
				margin:0 auto;
				width:95vw;
				font-size:0.6em;
			}
			section{
				ul{
					width:90vw;
					margin:0 auto;

					li{
						width:90vw;
						h1{
							width:20vw;
							font-size:0.8em;

						}
						h2{
							width:70vw;
							font-size:0.8em;
							margin-left:3vw;
						}
						a{
							width:70vw;
							padding-left:3vw;
							h2{
								width:70vw;
								font-size:0.8em;
								margin:0;
								padding:0;
							}
						}
					}
				}
			}
		}
		#message{
			margin:0 auto;
			margin-bottom:10vw;
			padding-bottom:2vh;
			width:95vw;
			header{
				font-size:0.7em;
			}
			form{
				section{
					h3{
						width:20vw;
						margin-right:8vw;
					}
					input{
						width:65vw;
					}
					#bigBox{
						width:65vw;

					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) and (min-width: 426px){
	ui-view{
		#home{
			width:100vw;
			display:flex;
			flex-direction: column-reverse;
			.post{
				display:flex;
				flex-direction:column;
				margin:0 auto;
				width:95vw;
				img{
					margin:0 auto;
					width:92vw;
				}
				article{
					p{
						font-size: 1em;
						line-height:1.5em;
					}
				}
			}
			#aboutMe{
				width:100vw;
				header{
					margin:0 auto;
					width:80vw;
					text-align:center;
				}
				article{
					width:80vw;
					margin:0 5vw;
					display:flex;
					align-items:center;
					justify-content:space-around;
					img{
						width:40vw;
						margin:0 5vw;
					}
					a, a:visited, a:hover{
						color:black;
						p{
							width: 20vw;
						}
					}
					p{
						font-size:1em;
						text-align:center;
						margin-bottom:1vh;
					}
				}
			}
		}
	}
	#contactPage{
		flex-direction:column;
		#deets{
			margin:0 auto;
			width:95vw;
			margin-bottom:3vh;
			header{
				margin:0 auto;
				width:95vw;
			}
			section{
				ul{
					width:90vw;
					margin:0 auto;
					li{
						width:90vw;
						margin:0 auto;
						h1{
							width:17vw;
						}
						h2{
							width:70vw;

							margin-left:3vw;
						}
					}
				}
			}
		}
		#message{
			margin:0 auto;
			margin-bottom:10vw;
			padding-bottom:2vh;
			width:95vw;
			header{

			}
			form{
				section{
					h3{
						width:20vw;
						margin-right:8vw;
					}
					input{
						width:65vw;
					}
					#bigBox{
						width:65vw;

					}
				}
			}
		}
	}
}
@media only screen and (min-width: 769px){
	ui-view{
		#home{
			width:80vw;

			.post{
				float:left;
				display:flex;
				flex-direction:column;
				width:40vw;
				margin: 0 5vw 2vh 5vw;
				img{
					margin:0 auto;
					width:40vw;
				}
				article{
					p{
						font-size: .9em;
						line-height:1.5em;
					}
				}
			}
			#aboutMe{
				width:20vw;
				padding-right:0;
				float:right;
				header{
					margin:0 auto;
					width:20vw;
					text-align:center;
					background:white;
				}
				article{
					width:20vw;
					margin:0 auto;
					display:flex;

					align-items:center;
					justify-content:space-around;
					img{
						width:5vw;
					}
					a, a:visited, a:hover{
						color:black;
						p{
							width:12vw;
							background:white;
						}
					}
					p{
						padding:2vh 0;
						font-size:.8em;
						text-align:center;
						margin-bottom:1vh;
					}
				}
			}
		}
	}
	#contactPage{
		#deets{
			width:40vw;
			margin-bottom:3vh;
			header{
				margin:0 auto;
				width:40vw;
			}
			section{
				ul{
					width:35vw;
					margin:0 auto;
					li{
						width:35vw;
						h1{

							width:10vw;
						}
						h2{
							width:22vw;
							padding-left:2vw;
						}
					}
				}
			}
		}
		#message{
			margin-bottom:10vw;
			padding-bottom:2vh;
			width:40vw;
			form{
				section{
					h3{
						width:5vw;
						margin-right:2vw;
					}
					input{
						width:30vw;
					}
					#bigBox{
						width:30vw;
						margin-right:1vw;
					}
				}
			}
		}
	}
}
