@media only screen and (max-width: 425px) and (min-width: 0px) {
  ui-view #home {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse; }
    ui-view #home .post {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 95vw; }
      ui-view #home .post img {
        margin: 0 auto;
        width: 92vw; }
      ui-view #home .post article p {
        font-size: .9em;
        line-height: 1.5em; }
    ui-view #home #aboutMe {
      display: flex;
      flex-direction: column;
      width: 100vw;
      align-items: center; }
      ui-view #home #aboutMe header {
        width: 80vw;
        text-align: center; }
      ui-view #home #aboutMe article {
        display: flex;
        flex-direction: column; }
        ui-view #home #aboutMe article img {
          width: 80vw;
          margin: 0 auto; }
        ui-view #home #aboutMe article a, ui-view #home #aboutMe article a:visited, ui-view #home #aboutMe article a:hover {
          color: black; }
        ui-view #home #aboutMe article p {
          font-size: 1em;
          text-align: center;
          margin-bottom: 1vh; } }
@media only screen and (max-width: 768px) and (min-width: 426px) {
  ui-view #home {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse; }
    ui-view #home .post {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 95vw; }
      ui-view #home .post img {
        margin: 0 auto;
        width: 92vw; }
      ui-view #home .post article p {
        font-size: .9em;
        line-height: 1.5em; }
    ui-view #home #aboutMe {
      width: 100vw; }
      ui-view #home #aboutMe header {
        margin: 0 auto;
        width: 80vw;
        text-align: center; }
      ui-view #home #aboutMe article {
        width: 80vw;
        margin: 0 5vw;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        ui-view #home #aboutMe article img {
          width: 40vw;
          margin: 0 5vw; }
        ui-view #home #aboutMe article a, ui-view #home #aboutMe article a:visited, ui-view #home #aboutMe article a:hover {
          color: black; }
        ui-view #home #aboutMe article p {
          font-size: 1em;
          text-align: center;
          margin-bottom: 1vh; } }
@media only screen and (min-width: 769px) {
  ui-view #home {
    width: 100vw; }
    ui-view #home .post {
      float: left;
      display: flex;
      flex-direction: column;
      width: 60vw;
      margin: 0 5vw 2vh 5vw; }
      ui-view #home .post img {
        margin: 0 auto;
        width: 60vw; }
      ui-view #home .post article p {
        font-size: .9em;
        line-height: 1.5em; }
    ui-view #home #aboutMe {
      width: 30vw;
      float: right; }
      ui-view #home #aboutMe header {
        margin: 0 auto;
        width: 25vw;
        text-align: center; }
      ui-view #home #aboutMe article {
        width: 25vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; }
        ui-view #home #aboutMe article img {
          width: 25vw;
          padding-bottom: 3vh; }
        ui-view #home #aboutMe article a, ui-view #home #aboutMe article a:visited, ui-view #home #aboutMe article a:hover {
          color: black; }
        ui-view #home #aboutMe article p {
          font-size: 1em;
          text-align: center;
          margin-bottom: 1vh; } }

/*# sourceMappingURL=_queries.css.map */
