@media only screen and (max-width: 425px) and (min-width:0px){
	//indexpage
	body{
		header#mainHeader{
			h1{
				font-size:1.4em;
			}
		}
	}
	ui-view{
		#home{
			width:100vw;
			display:flex;
			flex-direction: column-reverse;
			.post{
				display:flex;
				flex-direction:column;
				margin:0 auto;
				width:95vw;
				img{
					margin:0 auto;
					width:92vw;
				}
				article{
					p{
						font-size: .9em;
						line-height:1.5em;
					}
				}
			}
			#aboutMe{
				display:flex;
				flex-direction: column;
				width:100vw;
				align-items: center;
				header{
					width:80vw;
					text-align:center;
				}
				article{
					width:100vw;
					display:flex;
					flex-direction:column;
					img{
						width:80vw;
						margin:0 auto;
					}
					a, a:visited, a:hover{
						color:black;
						p{
							width:30vw;
						}
					}
					p{
						width:90vw;
						margin:0 auto;
						padding:2vh 0;
						font-size:1em;
						text-align:center;
						margin-bottom:1vh;
					}
				}
			}
		}
	}
	#contactPage{
		flex-direction:column;
		#deets{
			margin:0 auto;
			width:95vw;
			margin-bottom:3vh;
			header{
				margin:0 auto;
				width:95vw;
			}
			section{
				ul{
					width:90vw;
					margin:0 auto;
					li{
						h1{
						}
						h2{
							width:70vw;

							margin-left:3vw;
						}
					}
				}
			}
		}
		#message{
			margin:0 auto;
			margin-bottom:10vw;
			padding-bottom:2vh;
			width:95vw;
			header{

			}
			form{
				section{
					h3{
						width:20vw;
						margin-right:8vw;
					}
					input{
						width:65vw;
					}
					#bigBox{
						width:65vw;

					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) and (min-width: 426px){
	ui-view{
		#home{
			width:100vw;
			display:flex;
			flex-direction: column-reverse;
			.post{
				display:flex;
				flex-direction:column;
				margin:0 auto;
				width:95vw;
				img{
					margin:0 auto;
					width:92vw;
				}
				article{
					p{
						font-size: 1em;
						line-height:1.5em;
					}
				}
			}
			#aboutMe{
				width:100vw;
				header{
					margin:0 auto;
					width:80vw;
					text-align:center;
				}
				article{
					width:80vw;
					margin:0 5vw;
					display:flex;
					align-items:center;
					justify-content:space-around;
					img{
						width:40vw;
						margin:0 5vw;
					}
					a, a:visited, a:hover{
						color:black;
						p{
							width: 20vw;
						}
					}
					p{
						font-size:1em;
						text-align:center;
						margin-bottom:1vh;
					}
				}
			}
		}
	}
	#contactPage{
		flex-direction:column;
		#deets{
			margin:0 auto;
			width:95vw;
			margin-bottom:3vh;
			header{
				margin:0 auto;
				width:95vw;
			}
			section{
				ul{
					width:90vw;
					margin:0 auto;
					li{
						h1{
						}
						h2{
							width:70vw;

							margin-left:3vw;
						}
					}
				}
			}
		}
		#message{
			margin:0 auto;
			margin-bottom:10vw;
			padding-bottom:2vh;
			width:95vw;
			header{

			}
			form{
				section{
					h3{
						width:20vw;
						margin-right:8vw;
					}
					input{
						width:65vw;
					}
					#bigBox{
						width:65vw;

					}
				}
			}
		}
	}
}
@media only screen and (min-width: 769px){
	ui-view{
		#home{
			width:100vw;

			.post{
				float:left;
				display:flex;
				flex-direction:column;
				width:60vw;
				margin: 0 5vw 2vh 5vw;
				img{
					margin:0 auto;
					width:60vw;
				}
				article{
					p{
						font-size: .9em;
						line-height:1.5em;
					}
				}
			}
			#aboutMe{
				width:30vw;
				padding-right:5vw;
				float:right;
				header{
					margin:0 auto;
					width:25vw;
					text-align:center;
				}
				article{
					width:25vw;
					margin:0 auto;
					display:flex;
					flex-direction:column;
					align-items:center;
					justify-content:space-around;
					img{
						width:25vw;
					}
					a, a:visited, a:hover{
						color:black;
					}
					p{
						padding:2vh 0;
						font-size:1em;
						text-align:center;
						margin-bottom:1vh;
					}
				}
			}
		}
	}
	#contactPage{
		#deets{
			width:40vw;
			margin-bottom:3vh;
			header{
				margin:0 auto;
				width:40vw;
			}
			section{
				ul{
					width:38vw;
					margin:0 auto;
					li{
						h1{
						}
						h2{
							width:30vw;

							margin-left:1vw;
						}
					}
				}
			}
		}
		#message{
			margin-bottom:10vw;
			padding-bottom:2vh;
			width:40vw;
			form{
				section{
					h3{
						width:5vw;
						margin-right:2vw;
					}
					input{
						width:30vw;
					}
					#bigBox{
						width:30vw;
						margin-right:1vw;
					}
				}
			}
		}
	}
}
