#secretPage{
	display:flex;
	flex-direction:column;

	width: 100vw;
	form{
		margin:0 auto;
		margin-bottom:10vh;
		width:80vw;
	}
	section.container{
		width:80vw;
		margin:0 auto;
		table{
			margin-bottom:5vh;
			tbody{
				tr{

						width:80vw;
						height:5vh;
					td{
						border:1px solid black;
						height:5vh;
						width:10vw;
						padding:1vh;
					}
				}
			}
		}
	}
}
