@import url(reset.css);
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed";
@media only screen and (max-width: 425px) and (min-width: 0px) {
  ui-view #home {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse; }
    ui-view #home .post {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 95vw; }
      ui-view #home .post img {
        margin: 0 auto;
        width: 92vw; }
      ui-view #home .post article p {
        font-size: .9em;
        line-height: 1.5em; }
    ui-view #home #aboutMe {
      display: flex;
      flex-direction: column;
      width: 100vw;
      align-items: center; }
      ui-view #home #aboutMe header {
        width: 80vw;
        text-align: center; }
      ui-view #home #aboutMe article {
        display: flex;
        flex-direction: column; }
        ui-view #home #aboutMe article img {
          width: 80vw;
          margin: 0 auto; }
        ui-view #home #aboutMe article a, ui-view #home #aboutMe article a:visited, ui-view #home #aboutMe article a:hover {
          color: black; }
        ui-view #home #aboutMe article p {
          font-size: 1em;
          text-align: center;
          margin-bottom: 1vh; } }
@media only screen and (max-width: 768px) and (min-width: 426px) {
  ui-view #home {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse; }
    ui-view #home .post {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 95vw; }
      ui-view #home .post img {
        margin: 0 auto;
        width: 92vw; }
      ui-view #home .post article p {
        font-size: .9em;
        line-height: 1.5em; }
    ui-view #home #aboutMe {
      width: 100vw; }
      ui-view #home #aboutMe header {
        margin: 0 auto;
        width: 80vw;
        text-align: center; }
      ui-view #home #aboutMe article {
        width: 80vw;
        margin: 0 5vw;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        ui-view #home #aboutMe article img {
          width: 40vw;
          margin: 0 5vw; }
        ui-view #home #aboutMe article a, ui-view #home #aboutMe article a:visited, ui-view #home #aboutMe article a:hover {
          color: black; }
        ui-view #home #aboutMe article p {
          font-size: 1em;
          text-align: center;
          margin-bottom: 1vh; } }
@media only screen and (min-width: 769px) {
  ui-view #home {
    width: 100vw; }
    ui-view #home .post {
      float: left;
      display: flex;
      flex-direction: column;
      width: 60vw;
      margin: 0 5vw 2vh 5vw; }
      ui-view #home .post img {
        margin: 0 auto;
        width: 60vw; }
      ui-view #home .post article p {
        font-size: .9em;
        line-height: 1.5em; }
    ui-view #home #aboutMe {
      width: 30vw;
      float: right; }
      ui-view #home #aboutMe header {
        margin: 0 auto;
        width: 25vw;
        text-align: center; }
      ui-view #home #aboutMe article {
        width: 25vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; }
        ui-view #home #aboutMe article img {
          width: 25vw;
          padding-bottom: 3vh; }
        ui-view #home #aboutMe article a, ui-view #home #aboutMe article a:visited, ui-view #home #aboutMe article a:hover {
          color: black; }
        ui-view #home #aboutMe article p {
          font-size: 1em;
          text-align: center;
          margin-bottom: 1vh; } }
#home #aboutMe header {
  transition: all 0.2s ease-in-out; }
#home #aboutMe header:hover {
  transform: scale(1.01); }

#home #aboutMe article .content a p {
  transition: all, 0.1s, ease-in; }
#home #aboutMe article .content a p:hover {
  transform: scale(1.05); }

* {
  box-sizing: border-box; }

a, a:hover, a:visited {
  color: black;
  text-decoration: none; }

body {
  background-color: #CDCDCD; }

header#mainHeader {
  width: 100vw;
  height: 30vh;
  background: #999999;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  header#mainHeader h1 {
    font-family: 'Patrick Hand SC', cursive;
    color: #3B3A3A;
    height: 25vh;
    line-height: 25vh;
    font-size: 2.5em;
    width: 100vw;
    text-align: center; }
  header#mainHeader nav#mainNav {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100vw;
    height: 5vh;
    padding-bottom: 1vh;
    border-bottom: 2px solid #3B3A3A; }
    header#mainHeader nav#mainNav ul {
      margin: 0 auto;
      height: 5vh;
      width: 90vw;
      display: flex;
      justify-content: space-around; }
      header#mainHeader nav#mainNav ul li {
        text-align: center;
        width: 10vw;
        font-size: .9em;
        line-height: 5vh;
        transition: all 140ms ease-in-out; }
        header#mainHeader nav#mainNav ul li a, header#mainHeader nav#mainNav ul li a:visited {
          color: white;
          text-decoration: none; }
      header#mainHeader nav#mainNav ul li.active {
        background-color: #3B3A3A;
        border: solid rgba(1, 1, 1, 0.28) 1px;
        border-bottom: none;
        border-top-right-radius: 1vw; }

ui-view {
  width: 100vw; }
  ui-view #home {
    width: 100vw; }
    ui-view #home .container {
      display: flex;
      flex-direction: column-reverse; }
    ui-view #home .post header {
      text-align: center;
      font-family: 'Open Sans Condensed', sans-serif;
      margin-bottom: 3vh; }
      ui-view #home .post header h1 {
        font-family: 'Roboto Condensed', sans-serif;
        margin-bottom: 1vh; }
    ui-view #home .post img {
      border-radius: 2vw;
      border-bottom-left-radius: 0px;
      box-shadow: -0.2vw 0.2vw 0.2vw rgba(26, 26, 26, 0.47);
      border: 1px rgba(1, 1, 1, 0.28) solid;
      border-bottom: none;
      border-left: none; }
    ui-view #home .post article {
      padding: 3vh 0;
      border-bottom: 2px black solid;
      margin-bottom: 10vh; }
      ui-view #home .post article p {
        font-family: helvetica; }
    ui-view #home #aboutMe header {
      cursor: pointer;
      margin-bottom: 3vh;
      padding: 2vh 0;
      border: solid 3px #3B3A3A;
      font-family: 'Roboto Condensed', sans-serif; }
    ui-view #home #aboutMe img {
      border-radius: 100%;
      margin-bottom: 3vh; }
    ui-view #home #aboutMe article a, ui-view #home #aboutMe article a:visited {
      corsor: pointer;
      color: black; }
      ui-view #home #aboutMe article a p, ui-view #home #aboutMe article a:visited p {
        margin: 0 auto;
        width: 10vw;
        border: 1px #3B3A3A solid;
        padding: 0.3vw; }
    ui-view #home #aboutMe article p {
      font-family: helvetica; }

#contactPage {
  display: flex;
  justify-content: space-around; }
  #contactPage #deets {
    position: relative;
    background-color: #dfdbdb;
    width: 40vw;
    border-top-right-radius: 0.3vw;
    border-top-left-radius: 0.3vw;
    border-bottom-right-radius: 0.2vw;
    box-shadow: 0.2vw 0.2vw 0.25vw rgba(26, 26, 26, 0.47); }
    #contactPage #deets .bar {
      position: absolute;
      bottom: -5vh;
      height: 1vh;
      background: rgba(26, 26, 26, 0.47);
      width: 40vw;
      clear: both; }
    #contactPage #deets header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 40vw;
      height: 5vh;
      background: #3B3A3A;
      border: solid rgba(1, 1, 1, 0.28) 2px;
      text-align: center;
      margin-bottom: 3vh;
      color: white;
      border-top-right-radius: 0.3vw;
      border-top-left-radius: 0.3vw; }
    #contactPage #deets section ul {
      width: 38vw;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      #contactPage #deets section ul li {
        margin-bottom: 3vh; }
        #contactPage #deets section ul li h1 {
          margin-bottom: 1vh;
          color: #3B3A3A;
          text-shadow: -2px 2px 1px #ededed; }
        #contactPage #deets section ul li h2 {
          padding-left: 0.5vw; }
  #contactPage #message {
    box-shadow: 0.2vw 0.2vw 0.25vw rgba(26, 26, 26, 0.47);
    width: 40vw;
    border-top-right-radius: 0.3vw;
    border-top-left-radius: 0.3vw;
    background-color: #dfdbdb;
    position: relative; }
    #contactPage #message .bar {
      position: absolute;
      bottom: -5vh;
      height: 1vh;
      background: rgba(26, 26, 26, 0.47);
      width: 40vw;
      clear: both; }
    #contactPage #message header {
      border-top-right-radius: 0.3vw;
      border-top-left-radius: 0.3vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 40vw;
      height: 5vh;
      background: #3B3A3A;
      border: solid rgba(1, 1, 1, 0.28) 2px;
      text-align: center;
      margin-bottom: 3vh;
      color: white; }
    #contactPage #message section {
      width: 40vw; }
      #contactPage #message section form section {
        text-ailgn: left;
        display: flex;
        justify-content: space-around;
        margin-bottom: 3vh; }
        #contactPage #message section form section h3 {
          text-align: left;
          width: 8vw;
          padding-left: 2vw; }
        #contactPage #message section form section input {
          width: 30vw;
          border: solid black 1px;
          height: 3vh;
          background-color: white;
          line-height: 1em;
          border-top-right-radius: 0.4vw;
          border-top-left-radius: 0.2vw;
          border-bottom-right-radius: 0.4vw; }
        #contactPage #message section form section #bigBox {
          border-top-right-radius: 0.4vw;
          border-top-left-radius: 0.2vw;
          border-bottom-right-radius: 0.4vw;
          border: solid black 1px;
          height: 14vh;
          width: 30vw;
          margin: 0 auto; }
      #contactPage #message section form input {
        border-radius: 0.3vw;
        border: solid black 1px;
        float: right;
        background-color: #3B3A3A;
        color: white;
        margin-right: 1vw; }

/*# sourceMappingURL=master.css.map */
