@import url(reset.css);
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed";
* {
  box-sizing: border-box; }

a, a:hover, a:visited {
  text-decoration: none;
  color: black; }

html {
  min-width: 198px; }

body {
  min-width: 198px;
  background-color: #f6f6f6; }

@media only screen and (max-width: 425px) and (min-width: 0px) {
  body header#mainHeader h1 {
    font-size: 1.4em; }

  ui-view #home {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse; }
    ui-view #home .post {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 95vw; }
      ui-view #home .post img {
        margin: 0 auto;
        width: 92vw; }
      ui-view #home .post article p {
        font-size: .9em;
        line-height: 1.5em; }
    ui-view #home #aboutMe {
      display: flex;
      flex-direction: column;
      width: 100vw;
      align-items: center; }
      ui-view #home #aboutMe header {
        width: 80vw;
        text-align: center; }
      ui-view #home #aboutMe article {
        width: 100vw;
        display: flex;
        flex-direction: column; }
        ui-view #home #aboutMe article img {
          width: 80vw;
          margin: 0 auto; }
        ui-view #home #aboutMe article a, ui-view #home #aboutMe article a:visited, ui-view #home #aboutMe article a:hover {
          color: black; }
          ui-view #home #aboutMe article a p, ui-view #home #aboutMe article a:visited p, ui-view #home #aboutMe article a:hover p {
            width: 30vw; }
        ui-view #home #aboutMe article p {
          width: 90vw;
          margin: 0 auto;
          padding: 2vh 0;
          font-size: 1em;
          text-align: center;
          margin-bottom: 1vh; }

  #contactPage {
    flex-direction: column; }
    #contactPage #deets {
      margin: 0 auto;
      width: 95vw;
      margin-bottom: 3vh; }
      #contactPage #deets header {
        margin: 0 auto;
        width: 95vw; }
      #contactPage #deets section ul {
        width: 90vw;
        margin: 0 auto; }
        #contactPage #deets section ul li h2 {
          width: 70vw;
          margin-left: 3vw; }
    #contactPage #message {
      margin: 0 auto;
      margin-bottom: 10vw;
      padding-bottom: 2vh;
      width: 95vw; }
      #contactPage #message form section h3 {
        width: 20vw;
        margin-right: 8vw; }
      #contactPage #message form section input {
        width: 65vw; }
      #contactPage #message form section #bigBox {
        width: 65vw; } }
@media only screen and (max-width: 768px) and (min-width: 426px) {
  ui-view #home {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse; }
    ui-view #home .post {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 95vw; }
      ui-view #home .post img {
        margin: 0 auto;
        width: 92vw; }
      ui-view #home .post article p {
        font-size: 1em;
        line-height: 1.5em; }
    ui-view #home #aboutMe {
      width: 100vw; }
      ui-view #home #aboutMe header {
        margin: 0 auto;
        width: 80vw;
        text-align: center; }
      ui-view #home #aboutMe article {
        width: 80vw;
        margin: 0 5vw;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        ui-view #home #aboutMe article img {
          width: 40vw;
          margin: 0 5vw; }
        ui-view #home #aboutMe article a, ui-view #home #aboutMe article a:visited, ui-view #home #aboutMe article a:hover {
          color: black; }
          ui-view #home #aboutMe article a p, ui-view #home #aboutMe article a:visited p, ui-view #home #aboutMe article a:hover p {
            width: 20vw; }
        ui-view #home #aboutMe article p {
          font-size: 1em;
          text-align: center;
          margin-bottom: 1vh; }

  #contactPage {
    flex-direction: column; }
    #contactPage #deets {
      margin: 0 auto;
      width: 95vw;
      margin-bottom: 3vh; }
      #contactPage #deets header {
        margin: 0 auto;
        width: 95vw; }
      #contactPage #deets section ul {
        width: 90vw;
        margin: 0 auto; }
        #contactPage #deets section ul li h2 {
          width: 70vw;
          margin-left: 3vw; }
    #contactPage #message {
      margin: 0 auto;
      margin-bottom: 10vw;
      padding-bottom: 2vh;
      width: 95vw; }
      #contactPage #message form section h3 {
        width: 20vw;
        margin-right: 8vw; }
      #contactPage #message form section input {
        width: 65vw; }
      #contactPage #message form section #bigBox {
        width: 65vw; } }
@media only screen and (min-width: 769px) {
  ui-view #home {
    width: 100vw; }
    ui-view #home .post {
      float: left;
      display: flex;
      flex-direction: column;
      width: 60vw;
      margin: 0 5vw 2vh 5vw; }
      ui-view #home .post img {
        margin: 0 auto;
        width: 60vw; }
      ui-view #home .post article p {
        font-size: .9em;
        line-height: 1.5em; }
    ui-view #home #aboutMe {
      width: 30vw;
      padding-right: 5vw;
      float: right; }
      ui-view #home #aboutMe header {
        margin: 0 auto;
        width: 25vw;
        text-align: center; }
      ui-view #home #aboutMe article {
        width: 25vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; }
        ui-view #home #aboutMe article img {
          width: 25vw; }
        ui-view #home #aboutMe article a, ui-view #home #aboutMe article a:visited, ui-view #home #aboutMe article a:hover {
          color: black; }
        ui-view #home #aboutMe article p {
          padding: 2vh 0;
          font-size: 1em;
          text-align: center;
          margin-bottom: 1vh; }

  #contactPage #deets {
    width: 40vw;
    margin-bottom: 3vh; }
    #contactPage #deets header {
      margin: 0 auto;
      width: 40vw; }
    #contactPage #deets section ul {
      width: 38vw;
      margin: 0 auto; }
      #contactPage #deets section ul li h2 {
        width: 30vw;
        margin-left: 1vw; }
  #contactPage #message {
    margin-bottom: 10vw;
    padding-bottom: 2vh;
    width: 40vw; }
    #contactPage #message form section h3 {
      width: 5vw;
      margin-right: 2vw; }
    #contactPage #message form section input {
      width: 30vw; }
    #contactPage #message form section #bigBox {
      width: 30vw;
      margin-right: 1vw; } }
#home #aboutMe header {
  transition: all 0.2s ease-in-out; }
#home #aboutMe header:hover {
  transform: scale(1.01); }

#home #aboutMe article .content a p {
  transition: all, 0.1s, ease-in; }
#home #aboutMe article .content a p:hover {
  transform: scale(1.05); }

ui-view {
  width: 100vw; }
  ui-view #home {
    width: 100vw; }
    ui-view #home .container {
      display: flex;
      flex-direction: column-reverse; }
    ui-view #home .post header {
      margin-bottom: 3vh;
      text-align: center;
      font-family: 'Open Sans Condensed', sans-serif; }
      ui-view #home .post header h1 {
        margin-bottom: 1vh;
        font-family: 'Roboto Condensed', sans-serif; }
    ui-view #home .post img {
      border: 1px rgba(3, 17, 27, 0.7) solid;
      border-bottom: none;
      border-left: none;
      border-radius: 2vw;
      border-bottom-left-radius: 0px;
      box-shadow: -0.2vw 0.2vw 0.4vw #03111b; }
    ui-view #home .post article {
      margin-bottom: 10vh;
      padding: 3vh 0;
      border-bottom: 2px #f6f6f6 solid; }
      ui-view #home .post article p {
        font-family: 'Sintony', sans-serif; }
      ui-view #home .post article i {
        font-size: 10vw;
        color: red;
        background: black; }
    ui-view #home #aboutMe header {
      margin-bottom: 3vh;
      padding: 2vh 0;
      cursor: pointer;
      border: solid 3px #1EAAF1;
      font-family: 'Roboto Condensed', sans-serif; }
    ui-view #home #aboutMe img {
      margin-bottom: 3vh;
      border: 2px solid rgba(3, 17, 27, 0.7);
      box-shadow: 1px 1px 5px #03111b;
      border-radius: 100%; }
    ui-view #home #aboutMe article a, ui-view #home #aboutMe article a:visited {
      color: black;
      corsor: pointer; }
      ui-view #home #aboutMe article a p, ui-view #home #aboutMe article a:visited p {
        margin: 0 auto;
        padding: 0.5vw;
        border: 2px #1EAAF1 solid; }
    ui-view #home #aboutMe article p {
      font-family: helvetica; }

header#mainHeader {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 20vh;
  margin-bottom: 5vh;
  background: rgba(3, 17, 27, 0.7);
  align-items: center; }
  header#mainHeader h1 {
    width: 100vw;
    height: 15vh;
    text-align: center;
    color: white;
    text-shadow: -2px 2px 1px #03111b;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    line-height: 15vh; }
  header#mainHeader nav#mainNav {
    width: 100vw;
    height: 5vh;
    border-bottom: 2px solid #1EAAF1;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 0 1vh 50px #3E4950; }
    header#mainHeader nav#mainNav ul {
      display: flex;
      width: 90vw;
      height: 5vh;
      margin: 0 auto;
      justify-content: space-around; }
      header#mainHeader nav#mainNav ul li {
        transition: all 240ms ease-in;
        text-align: center;
        height: 5vh;
        font-size: .9em;
        line-height: 5vh; }
        header#mainHeader nav#mainNav ul li a, header#mainHeader nav#mainNav ul li a:visited {
          padding: 1vh 2vw;
          height: 5vh;
          transition: all 0.222s ease-in;
          text-decoration: none;
          color: white; }
      header#mainHeader nav#mainNav ul a.active {
        box-shadow: 1px -1px #03111b;
        border: solid rgba(3, 17, 27, 0.7) 1px;
        border-bottom: none;
        border-top-right-radius: 0.1vw;
        background-color: #03111b;
        color: black; }

#contactPage {
  display: flex;
  justify-content: space-around; }
  #contactPage #deets:hover {
    transform: scale(1.007); }
  #contactPage #deets {
    transition: all 0.3s ease-in-out;
    position: relative;
    border-top-left-radius: 0.3vw;
    border-top-right-radius: 0.3vw;
    border-bottom-right-radius: 0.2vw;
    background-color: white;
    box-shadow: 0.2vw 0.2vw 3vw rgba(26, 26, 26, 0.47); }
    #contactPage #deets .bar {
      position: absolute;
      bottom: -5vh;
      clear: both;
      height: 1vh;
      background: rgba(26, 26, 26, 0.47); }
    #contactPage #deets header {
      display: flex;
      height: 5vh;
      margin-bottom: 3vh;
      text-align: center;
      color: white;
      border: solid rgba(1, 1, 1, 0.28) 2px;
      border-top-left-radius: 0.3vw;
      border-top-right-radius: 0.3vw;
      background: #3B3A3A;
      align-items: center;
      justify-content: space-around; }
    #contactPage #deets section ul {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: space-around; }
      #contactPage #deets section ul li {
        margin-bottom: 3vh; }
        #contactPage #deets section ul li h1 {
          margin-bottom: 1vh;
          color: #3B3A3A;
          text-shadow: -2px 2px 1px #ededed; }
        #contactPage #deets section ul li h2 {
          padding-left: 0.5vw; }
  #contactPage #message:hover {
    transform: scale(1.007); }
  #contactPage #message {
    transition: all 0.3s ease-in-out;
    position: relative;
    border-top-left-radius: 0.3vw;
    border-top-right-radius: 0.3vw;
    background-color: white;
    box-shadow: 0.2vw 0.2vw 3vw rgba(26, 26, 26, 0.47); }
    #contactPage #message .bar {
      position: absolute;
      bottom: -5vh;
      clear: both;
      height: 1vh;
      background: rgba(26, 26, 26, 0.47); }
    #contactPage #message header {
      display: flex;
      height: 5vh;
      margin-bottom: 3vh;
      text-align: center;
      color: white;
      border: solid rgba(1, 1, 1, 0.28) 2px;
      border-top-left-radius: 0.3vw;
      border-top-right-radius: 0.3vw;
      background: #3B3A3A;
      align-items: center;
      justify-content: space-around; }
    #contactPage #message section form section {
      display: flex;
      margin-bottom: 3vh;
      text-ailgn: left;
      justify-content: space-around; }
      #contactPage #message section form section h3 {
        width: 8vw;
        padding-left: 2vw;
        text-align: left; }
      #contactPage #message section form section input {
        height: 3vh;
        color: black;
        border: solid black 1px;
        border-top-left-radius: 0.2vw;
        border-top-right-radius: 0.4vw;
        border-bottom-right-radius: 0.4vw;
        background-color: white;
        line-height: 1em; }
      #contactPage #message section form section #bigBox {
        height: 14vh;
        border: solid black 1px;
        border-top-left-radius: 0.2vw;
        border-top-right-radius: 0.4vw;
        border-bottom-right-radius: 0.4vw; }
    #contactPage #message section form input {
      float: right;
      margin-right: 1vw;
      color: white;
      border: solid black 1px;
      border-radius: 0.3vw;
      background-color: #3B3A3A; }

#projPage {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; }
  #projPage .card {
    display: flex;
    flex-direction: column; }
    #projPage .card section.body {
      display: flex;
      margin-top: 2vh;
      border-top: 1px solid rgba(30, 170, 241, 0.37);
      border-bottom: 1px solid rgba(30, 170, 241, 0.37);
      border-bottom-right-radius: 0.5vw;
      justify-content: space-between;
      align-items: center; }
      #projPage .card section.body img {
        transition: all 0.24s ease-in-out;
        border: 3px solid white;
        box-shadow: 0.1vw 0.1vw 0.3vw rgba(3, 17, 27, 0.7); }
      #projPage .card section.body img:hover {
        cursor: pointer;
        transform: scale(1.01);
        box-shadow: 0.3vw 0.3vw 0.5vw rgba(3, 17, 27, 0.4); }
      #projPage .card section.body article {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-left; }
        #projPage .card section.body article h4 {
          padding-bottom: 1.4vh;
          text-shadow: -1px 1px rgba(3, 17, 27, 0.7);
          font-family: 'Julius Sans One', sans-serif;
          font-size: 1.2em; }
        #projPage .card section.body article p {
          padding-bottom: 1.2vh;
          padding-left: 0.5vw; }

@media only screen and (max-width: 425px) and (min-width: 0px) {
  #projPage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-start; }
    #projPage .card {
      display: flex;
      flex-direction: column;
      width: 80vw;
      margin: 0 auto;
      margin-bottom: 8vh;
      justify-content: space-around; }
      #projPage .card section.body {
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        border-top: 1px solid rgba(30, 170, 241, 0.37);
        border-bottom: 1px solid rgba(30, 170, 241, 0.37);
        border-bottom-right-radius: 0.5vw;
        justify-content: space-between;
        align-items: center; }
        #projPage .card section.body img {
          width: 80vw;
          margin: 0 auto;
          transition: all 0.24s ease-in-out;
          border: 3px solid white;
          box-shadow: 0.1vw 0.1vw 0.3vw rgba(3, 17, 27, 0.7); }
        #projPage .card section.body img:hover {
          cursor: pointer;
          transform: scale(1.01);
          box-shadow: 0.3vw 0.3vw 0.5vw rgba(3, 17, 27, 0.4); }
        #projPage .card section.body article {
          display: flex;
          flex-direction: column;
          width: 70vw;
          padding-top: 3vh;
          padding-bottom: 2vh;
          justify-content: space-around;
          align-items: flex-left; }
          #projPage .card section.body article h4 {
            padding-bottom: 1.4vh;
            text-shadow: -1px 1px rgba(3, 17, 27, 0.7);
            font-family: 'Julius Sans One', sans-serif;
            font-size: 1.2em; }
          #projPage .card section.body article p {
            padding-bottom: 1.2vh;
            padding-left: 0.5vw; } }
@media only screen and (max-width: 768px) and (min-width: 426px) {
  #projPage {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-left; }
    #projPage .card {
      display: flex;
      flex-direction: column;
      width: 40vw;
      margin: 0 auto;
      margin-bottom: 8vh;
      justify-content: space-around; }
      #projPage .card section.body {
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        border-top: 1px solid rgba(30, 170, 241, 0.37);
        border-bottom: 1px solid rgba(30, 170, 241, 0.37);
        border-bottom-right-radius: 0.5vw;
        justify-content: space-between;
        align-items: center; }
        #projPage .card section.body img {
          width: 40vw;
          margin: 0 auto;
          transition: all 0.24s ease-in-out;
          border: 3px solid white;
          box-shadow: 0.1vw 0.1vw 0.3vw rgba(3, 17, 27, 0.7); }
        #projPage .card section.body img:hover {
          cursor: pointer;
          transform: scale(1.01);
          box-shadow: 0.3vw 0.3vw 0.5vw rgba(3, 17, 27, 0.4); }
        #projPage .card section.body article {
          display: flex;
          flex-direction: column;
          width: 35vw;
          padding-top: 3vh;
          padding-bottom: 2vh;
          justify-content: space-around;
          align-items: flex-left; }
          #projPage .card section.body article h4 {
            padding-bottom: 1.4vh;
            text-shadow: -1px 1px rgba(3, 17, 27, 0.7);
            font-family: 'Julius Sans One', sans-serif;
            font-size: 1.2em; }
          #projPage .card section.body article p {
            padding-bottom: 1.2vh;
            padding-left: 0.5vw; } }
@media only screen and (min-width: 769px) {
  #projPage {
    display: flex;
    width: 75vw;
    margin: 0 auto;
    justify-content: space-around;
    align-items: flex-left; }
    #projPage .card {
      width: 30vw;
      display: flex;
      float: left;
      margin-bottom: 10vh; }
      #projPage .card section.body {
        display: flex;
        margin-top: 2vh;
        border-top: 3px solid rgba(30, 170, 241, 0.37);
        border-bottom: 3px solid rgba(30, 170, 241, 0.37);
        border-bottom-right-radius: 0.5vw;
        border-top-right-radius: 0.5vw;
        justify-content: space-between;
        align-items: center; }
        #projPage .card section.body img {
          transition: all 0.24s ease-in-out;
          width: 10vw;
          border: 3px solid white;
          box-shadow: 0.1vw 0.1vw 0.3vw rgba(3, 17, 27, 0.7); }
        #projPage .card section.body img:hover {
          cursor: pointer;
          transform: scale(1.01);
          box-shadow: 0.3vw 0.3vw 0.5vw rgba(3, 17, 27, 0.4); }
        #projPage .card section.body article {
          padding: 3vh 0;
          display: flex;
          width: 15vw;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-left; }
          #projPage .card section.body article h4 {
            padding-bottom: 1.4vh;
            text-shadow: -1px 1px rgba(3, 17, 27, 0.7);
            font-family: 'Julius Sans One', sans-serif;
            font-size: 1.2em; }
          #projPage .card section.body article p {
            padding-bottom: 1.2vh;
            padding-left: 0.5vw; } }
#aboutPage {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh; }
  #aboutPage #aboutMe {
    width: 45vw; }
    #aboutPage #aboutMe header.mainHeader {
      width: 45vw;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: flex-start; }
      #aboutPage #aboutMe header.mainHeader img {
        width: 15vw;
        border-radius: 100%;
        box-shadow: 1px 1px 12px #4B545B; }
      #aboutPage #aboutMe header.mainHeader h1 {
        font-family: 'Julius Sans One', sans-serif;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1eaaf1+0,1eaaf1+23,99d2ef+86,d7e7ef+100 */
        background: #1eaaf1;
        /* Old browsers */
        background: -moz-linear-gradient(left, #1eaaf1 0%, #1eaaf1 23%, #99d2ef 86%, #d7e7ef 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #1eaaf1 0%, #1eaaf1 23%, #99d2ef 86%, #d7e7ef 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #1eaaf1 0%, #1eaaf1 23%, #99d2ef 86%, #d7e7ef 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1eaaf1', endColorstr='#d7e7ef',GradientType=1 );
        /* IE6-9 */
        border-top-left-radius: 0.3vw;
        border-bottom-left-radius: 0.3vw;
        border: solid white 2px;
        border-right: none;
        line-height: 5vh;
        height: 5vh;
        width: 25vw;
        color: white;
        text-shadow: 0.04em 0.04em 0.1em  black;
        text-align: center;
        font-size: 1.2em; }
    #aboutPage #aboutMe article {
      margin-top: 2vh;
      float: right;
      width: 40vw; }
      #aboutPage #aboutMe article header {
        border-top-left-radius: 1vw;
        display: flex;
        justify-content: space-between;
        width: 40vw;
        margin: 0 auto;
        height: 5vh;
        border: 2px solid #03111b;
        border-bottom: none; }
        #aboutPage #aboutMe article header section {
          color: white;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-around;
          border: solid #03111b 2px;
          border-bottom: none;
          border-top: none;
          width: 19.5vw;
          text-align: center;
          background: rgba(3, 17, 27, 0.7); }
        #aboutPage #aboutMe article header section.left {
          border-top-right-radius: 1vw;
          border-left: none;
          border-top-left-radius: 1vw; }
        #aboutPage #aboutMe article header section.right {
          border-top-left-radius: 1vw;
          border-right: none; }
      #aboutPage #aboutMe article article {
        margin-top: -1px; }
        #aboutPage #aboutMe article article p {
          width: 40vw;
          margin: 0 auto;
          padding: 1vh 1vw;
          border: 2px solid #03111b;
          border-top: none;
          border-left: none;
          border-bottom-right-radius: 1vw;
          line-height: 1.4em;
          font-family: 'Titillium Web', sans-serif; }
        #aboutPage #aboutMe article article p.hidden {
          display: none; }
  #aboutPage #skills {
    width: 45vw;
    display: flex;
    flex-direction: column; }
    #aboutPage #skills header {
      border: solid white 2px;
      border-left: none;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d7e7ef+0,99d2ef+14,1eaaf1+77,1eaaf1+100 */
      background: #d7e7ef;
      /* Old browsers */
      background: -moz-linear-gradient(left, #d7e7ef 0%, #99d2ef 14%, #1eaaf1 77%, #1eaaf1 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #d7e7ef 0%, #99d2ef 14%, #1eaaf1 77%, #1eaaf1 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #d7e7ef 0%, #99d2ef 14%, #1eaaf1 77%, #1eaaf1 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e7ef', endColorstr='#1eaaf1',GradientType=1 );
      /* IE6-9 */
      width: 45vw;
      margin: 0 auto;
      text-align: center;
      height: 5vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
      text-shadow: 0.04em 0.04em 0.1em  black;
      font-weight: bold;
      font-size: 1.3em;
      border-top-right-radius: 0.3vw;
      border-bottom-right-radius: 0.3vw;
      font-family: 'Julius Sans One', sans-serif;
      margin-bottom: 2vh; }
    #aboutPage #skills h4.fEnd {
      width: 40vw;
      margin: 0 auto;
      font-size: 1.3em;
      margin-bottom: 1vw;
      font-family: 'Julius Sans One', sans-serif; }
    #aboutPage #skills .frontEnd:hover {
      transform: scale(1.05);
      box-shadow: 0.5vw 0.5vw 1vw rgba(3, 17, 27, 0.4); }
    #aboutPage #skills .frontEnd {
      transition: all 0.2s ease-in-out;
      box-shadow: 0.1vw 0.1vw 0.2vw rgba(3, 17, 27, 0.4);
      background: white;
      border-top-right-radius: 2vw;
      padding-top: 2vh;
      border-top: 1px solid #1EAAF1;
      border-right: 1px solid #1EAAF1;
      margin: 0 auto;
      width: 40vw;
      display: flex;
      height: 30vh;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom-left-radius: 0.25vw; }
      #aboutPage #skills .frontEnd img.disp {
        margin-left: 2vw;
        width: 8vw;
        border-bottom-right-radius: 1vw;
        padding-top: 0; }
      #aboutPage #skills .frontEnd ul {
        width: 23vw;
        margin-right: 2vw;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between; }
        #aboutPage #skills .frontEnd ul li {
          width: 10vw;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 2vh; }
          #aboutPage #skills .frontEnd ul li h4 {
            width: 22vw;
            text-align: left;
            padding-left: 1.5vw;
            font-family: 'Julius Sans One', sans-serif; }
          #aboutPage #skills .frontEnd ul li img {
            width: 1.5vw;
            border-radius: none; }
    #aboutPage #skills h4.bEnd {
      width: 40vw;
      margin: 0 auto;
      font-size: 1.3em;
      margin-bottom: 1vw;
      margin-top: 3vh;
      font-family: 'Julius Sans One', sans-serif; }
    #aboutPage #skills .backEnd:hover {
      transform: scale(1.05);
      box-shadow: 0.5vw 0.5vw 1vw rgba(3, 17, 27, 0.4); }
    #aboutPage #skills .backEnd {
      transition: all 0.2s ease-in-out;
      box-shadow: 0.1vw 0.1vw 0.2vw rgba(3, 17, 27, 0.4);
      background: white;
      border-top-right-radius: 2vw;
      padding-top: 2vh;
      border-top: 1px solid #1EAAF1;
      border-right: 1px solid #1EAAF1;
      margin: 0 auto;
      width: 40vw;
      display: flex;
      height: 30vh;
      justify-content: space-between;
      padding-bottom: 2vh; }
      #aboutPage #skills .backEnd img.disp {
        margin-left: 2vw;
        width: 8vw;
        border-bottom-right-radius: 1vw;
        padding-top: 0; }
      #aboutPage #skills .backEnd ul {
        width: 25vw; }
        #aboutPage #skills .backEnd ul li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 2vh; }
          #aboutPage #skills .backEnd ul li h4 {
            width: 22vw;
            text-align: left;
            padding-left: 1.5vw;
            font-family: 'Julius Sans One', sans-serif; }
          #aboutPage #skills .backEnd ul li img {
            width: 1.5vw;
            border-radius: none; }

/*# sourceMappingURL=master.css.map */
