@import "reset.css";
@import "_colors.scss";
@import "_tools.scss";
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed';
//fontbox
//font-family: 'Roboto Condensed', sans-serif
//font-family: 'Open Sans Condensed', sans-serif
*{
	box-sizing:border-box;
}
header#mainHeader{
	width:100vw;
	height:30vh;
	background:white;
	margin-bottom:5vh;
	display:flex;
	flex-direction: column;
	align-items:center;
	h1{
		font-family: 'Open Sans Condensed', sans-serif;
		height:25vh;
		line-height:25vh;
		font-size:2.5em;
		width:100vw;
		text-align:center;
	}
	nav#mainNav{
		font-family: 'Roboto Condensed', sans-serif;
		width:100vw;
		height:5vh;
		padding-bottom:1vh;
		border-bottom:2px solid $highlight;
		ul{
			margin:0 auto;
			height:5vh;
			width:90vw;
			display:flex;
			justify-content:space-around;
			li{
				font-size:.9em;
				line-height:5vh;
				transition: all 140ms ease-in-out;
			}
			li:hover{
				color:$brown;
			}
		}
	}
}


ui-view{
	width:100vw;
	#home{
		width:100vw;
		display:flex;
		flex-direction: column;
		.post{
			display:flex;
			flex-direction:column;
			margin:0 auto;
			width:95vw;
			header{
				text-align:center;
				h1{
					font-family: 'Roboto Condensed', sans-serif;
					margin-bottom:1vh;
				}
				font-family: 'Open Sans Condensed', sans-serif;
				margin-bottom:3vh;

			}
			img{
				margin:0 auto;
				width:92vw;
			}
			article{
				p{
					font-family: helvetica;
					font-size: .9em;
					line-height:1.5em;
				}
				padding:3vh 0;
				border-bottom: 2px black solid;
				margin-bottom: 10vh;
			}
		}
		#aboutMe{

			display:flex;
			flex-direction: column;
			width:100vw;
			align-items: center;
			header{
				margin-bottom:3vh;
				padding:2vh 0;
				border: solid 3px $highlight;
				width:80vw;
				text-align:center;
				font-family: 'Roboto Condensed', sans-serif;
			}
			img{
				width:80vw;
				border-radius:100%;
				margin-bottom:3vh;
			}
			article{
				a, a:visited, a:hover{
					color:black;
				}
				p{
					font-size:1em;
					font-family: helvetica;
					text-align:center;
					margin-bottom:1vh;
				}
			}
		}
	}
}
