doctype html
html(lang='en', ng-app="app")
	head
		title Climbing the Mountain w/ josh
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='./css/master.css')

	body(ng-controller="ctrl")
		header#mainHeader
			h1 Climbing the Mountain
			nav#mainNav
				ul
					li Home
					li About
					li Photos
					li Projects
					li Contact






		ui-view




		// Angular Cdn
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
		// Ui-router Cdn
		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js")

		// jquery Cdn
		script(src="http://code.jquery.com/jquery-3.1.0.min.js")
		// Angular files
		script(type="text/javascript", src="./js/angular/app.js")
		script(type="text/javascript", src="./js/angular/ctrl.js")
		script(type="text/javascript", src="./js/angular/srvc.js")
		// Personal etc js
		script(type="text/javascript", src="./js/script.js")
