#about
	#aboutMe
		header.mainHeader
			img(src="https://avatars3.githubusercontent.com/u/16170598?v=3&s=460", alt="A picture of me")
			h1 About Me
		article
			header
				section.hidden
					h1 Life Story
				section
					h1 Long Story Short
			article
				p.ls.hidden Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				p.lss I'm cool. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	#skills
		header
			h1 Skills
		h4.fEnd FrontEnd
		section.frontEnd
			img(src="./img/frontEndPic.jpg")
			ul
				li
					h4 HTML5 / Jade / Pug
				li
					h4 CSS3 / Scss
				li
					h4 Bootstrap
				li
					h4 Javascript
				li
					h4 Jquery
				li
					h4 Angular.js
		h4.bEnd back_End
		section.backEnd
			img(src="./img/backendPic.jpeg")
			ul
				li
					h4 Sql / Postgress
				li
					h4 Express
				li
					h4 Node.js
