#aboutPage
	#aboutMe
		header.mainHeader
			img(src="https://avatars3.githubusercontent.com/u/16170598?v=3&s=460", alt="A picture of me")
			section
				
				article
					h2 Hi I'm Josh Peterson
					h4 I'm a student at DevMountain.
					h4 Honing my Web Development skills.
		section.body
			article
				ul
					li
						h4 GitHub
					li
						h4 Linkedin
					li
						h4 CodeWars







	#skills
		header
			h1 Skills
		h4.fEnd FrontEnd
		section.frontEnd
			img(src="./img/frontEndMan.jpg").disp
			ul
				li
					img(src="./img/HTML5.png")
					h4 HTML5 / Jade / Pug
				li
					img(src="./img/css.png")
					h4 CSS3 / Scss
				li
					img(src="./img/bootstrap.png")
					h4 Bootstrap
				li
					img(src="./img/js.png")
					h4 Javascript
				li
					img(src="./img/jq.png")
					h4 Jquery
				li
					img(src="./img/angular.png")
					h4 Angular.js
				li
					img(src="./img/git.png")
					h4 Git / Github
		h4.bEnd back_End
		section.backEnd
			img(src="./img/backendPic.jpeg").disp
			ul
				li
					img(src="./img/sql.png")
					h4 Sql / Postgress
				li
					img(src="./img/express.png")
					h4 Express
				li
					img(src="./img/node.png")
					h4 Node.js
