#aboutPage
	#aboutMe
		header.mainHeader
			img(src="https://avatars3.githubusercontent.com/u/16170598?v=3&s=460", alt="A picture of me", data-wow-duration="1s").wow.slideInLeft
			section

				article(data-wow-duration="1s").wow.fadeIn
					h2 Hi I'm Josh Peterson
					h4 I'm a recent graduate of Devmountain
					h4 Honing my Web Development skills.
		section.body
			article(data-wow-delay="2.2s").wow.fadeIn
				ul
					a(href='https://github.com/echoflame14', title="GitHub", target="_blank")
						li
							h4 GitHub
					a(href="https://www.linkedin.com/in/josh-peterson-b9093910b", title="Linkedin", target="_blank")
						li
							h4 Linkedin
					a(href="https://twitter.com/joshpdev", title="Twitter", target="_blank")
						li
							h4 Twitter







	#skills
		header(data-wow-delay="1s").wow.fadeInRight
			h1 SKILLS
		h4(data-wow-delay="1.05s").wow.fadeInRight.fEnd FrontEnd
		section(data-wow-delay="1.1s").wow.fadeInRight.frontEnd
			img(src="./img/frontEndMan.jpg").disp
			ul
				li
					img(src="./img/HTML5.png")
					h4 HTML5 / Jade / Pug
				li
					img(src="./img/css.png")
					h4 CSS3 / Scss
				li
					img(src="./img/bootstrap.png")
					h4 Bootstrap
				li
					img(src="./img/js.png")
					h4 Javascript
				li
					img(src="./img/jq.png")
					h4 Jquery
				li
					img(src="./img/angular.png")
					h4 Angular.js
				li
					img(src="./img/git.png")
					h4 Git / Github
		h4(data-wow-delay="1.15s").wow.fadeInRight.bEnd back_End
		section(data-wow-delay="1.2s").wow.fadeInRight.backEnd
			img(src="./img/backendPic.jpeg").disp
			ul
				li
					img(src="./img/sql.png")
					h4 Sql / Postgress
				li
					img(src="./img/express.png")
					h4 Express
				li
					img(src="./img/node.png")
					h4 Node.js
