#contactPage(ng-controller="ctrl")
	#deets
		header
			h1 Contact Details
		section
			ul
				li
					h1 Email
					h2 joshpeterson.dev@gmail.com
				li
					h1 Phone
					h2 385-445-0721
				li
					h1 Skype
					h2 joshpeterson15
				li
					h1 linkedin
					h2
						a(href="www.linkedin.com/in/josh-peterson-b9093910b") www.linkedin.com/in/josh-peterson-b9093910b
		.bar
	#message
		header
			h1 Send Me a Message
		section
			form(id="UsrMessage", method="get")
				section
					h3 Name
					input(type="text", name="name", ng-model="name")#name
				section
					h3 Email
					input(type="text", name="Email", ng-model="email")#email
				section
					h3 Message
					textarea(name="Message", rows="8", cols="40", id="bigBox",ng-model="message")

				input(type="submit", name="submit", value="Submit", ng-click="hey()")
		.bar
