
<div id="contactPage">
  <div id="deets">
    <header>
      <h1>Contact Details</h1>
    </header>
    <section>
      <ul>
        <li>
          <h1>Email</h1>
          <h2>joshpeterson.dev@gmail.com</h2>
        </li>
        <li>
          <h1>Phone</h1>
          <h2>385-445-0721</h2>
        </li>
        <li>
          <h1>Skype</h1>
          <h2>joshpeterson15</h2>
        </li>
        <li>
          <h1>linkedin</h1>
          <h2><a href="www.linkedin.com/in/josh-peterson-b9093910b">www.linkedin.com/in/josh-peterson-b9093910b</a></h2>
        </li>
      </ul>
    </section>
    <div class="bar"></div>
  </div>
  <div id="message">
    <header>
      <h1>Send Me a Message</h1>
    </header>
    <section>
      <form id="UsrMessage" method="get">
        <section>
          <h3>Name</h3>
          <input type="text" name="name" data-validation="email" id="name"/>
        </section>
        <section>
          <h3>Email</h3>
          <input type="text" name="Email" id="email"/>
        </section>
        <section>
          <h3>Message</h3>
          <textarea name="Message" rows="8" cols="40" id="bigBox"></textarea>
        </section>
        <input type="submit" name="submit" value="Submit" id="valBtn"/>
      </form>
    </section>
    <div class="bar"></div>
  </div>
</div>