#contactPage(ng-controller="ctrl")
	#deets(dada-wow-duration="0.2s").wow.fadeIn
		header
			h1 Contact Details
		section
			ul
				li
					h1 EMAIL
					h2 JoshPeterson.dev@gmail.com
				li
					h1 PHONE
					h2.phone (385) 445-0721
				li
					h1 SKYPE
					h2 JoshPeterson15
				li.linkedin
					h1 LINKEDIN
					a(href="https://www.linkedin.com/in/josh-peterson-b9093910b", target="__blank")
						h2 https://www.linkedin.com/in/josh-peterson-b9093910b

	#message.wow.fadeIn
		header
			h1 Send Me a Message
		section
			form(id="UsrMessage", method="get")
				section
					h3 NAME
					input(type="text", name="name", ng-model="name")#name
				section
					h3 EMAIL
					input(type="text", name="Email", ng-model="email")#email
				section.bigBox
					h3 MESSAGE
					textarea(name="Message", rows="8", cols="40", id="bigBox",ng-model="message")

				input(type="submit", name="submit", id="submitBtn", value="SUBMIT", ng-click="postMessage(name,email,message)")
