#projPage
	.card
		section.body
			a(href="http://beneural.com/"  target="_blank")
				img(src="./img/bNural-2.png", alt="A broken pic..", data-wow-duration="0.4s", data-wow-delay="0.85s").vert.vert2.wow.fadeInLeft
			a(href="http://beneural.com/"  target="_blank")
				img(src="./img/bNural-3.png", alt="A broken pic..", data-wow-duration="0.4s", data-wow-delay="0.65s").hor.hor1.wow.fadeInLeft
			a(href="http://beneural.com/"  target="_blank")
				img(src="./img/bNural.png", alt="A broken pic..", data-wow-duration="0.4s", data-wow-delay="0.45s").vert.vert1.wow.fadeInLeft
			article(data-wow-duration="1s").wow.fadeIn
				a(href="http://beneural.com/"  target="_blank")
					h4 BeNeural.com
				p A bi-neural beat generator
				p Uses the web audio api to create oscillating sine waves that can affect the user's mental state.
				p Provides a free alternative to high data usage video streams.
	.card
		section.body
			a(href="http://PhotographyPortfolio.org"  target="_blank")
				img(src="./img/picOne.png", alt="A broken pic..", data-wow-duration="0.4s", data-wow-delay="0.85s").vert.vert2.wow.fadeInLeft
			a(href="http://PhotographyPortfolio.org"  target="_blank")
				img(src="./img/picTwo.png", alt="A broken pic..", data-wow-duration="0.4s", data-wow-delay="0.65s").hor.hor1.wow.fadeInLeft
			a(href="http://PhotographyPortfolio.org"  target="_blank")
				img(src="./img/picThree.png", alt="A broken pic..", data-wow-duration="0.4s", data-wow-delay="0.45s").vert.vert1.wow.fadeInLeft
			article(data-wow-duration="1s").wow.fadeIn
				a(href="http://PhotographyPortfolio.org"  target="_blank")
					h4 PhotographyPortfolio.org
				p A project I built, with a team of 3 other students at devmountain.

				p It allows photographers to exhibit their work and have it be visible to local clients.
				p Uses angular to create a seamless experience.
				p Talks to the google maps api to filter search results by location.
