
<div id="projPage">
  <div class="card">
    <section class="body"><img class="vert vert2 wow fadeInLeft" src="./img/bNural-2.png" alt="A broken pic.." data-wow-duration="0.4s" data-wow-delay="0.85s"/><img class="hor hor1 wow fadeInLeft" src="./img/bNural-3.png" alt="A broken pic.." data-wow-duration="0.4s" data-wow-delay="0.65s"/><img class="vert vert1 wow fadeInLeft" src="./img/bNural.png" alt="A broken pic.." data-wow-duration="0.4s" data-wow-delay="0.45s"/>
      <article class="wow fadeIn" data-wow-duration="1s">
        <h4>bNural</h4>
        <p>Is a site that I built for my no-server project at DevMountain.</p>
        <p>It allows the user to generate Binaural beats to control their mood.</p>
      </article>
    </section>
  </div>
</div>