h1 hey its a secret
form
	h1 posttext
		textarea(ng-model="text", rows="8", cols="40")

	h1 posttitle
		input(type="text", ng-model="title")
	h1 posttime
		input(type="text", ng-model="time")
	h1 postimgsrc
		input(type="text", ng-model="imgSrc")
	h1 postimgalt
		input(type="text", ng-model="imgAlt")
	button(type="button", name="button", ng-click="postPost(text,title,time,imgSrc,imgAlt)") SUBMIT POST

form
	h1 DELETE POST WHERE POSTID = X
	h1 X
		input(type="text", ng-model="del")
	button(type="button", ng-click="delPost(del)") DELETEPOST
